# Homework 4

**ÖNEMLİ:** Beyler aşağıda her bölümde yapılması gereken seyleri belirttim. Herkes tamamladığı kısımların üstünü çift tilda (\~~) ile çizerse geriye ne kalmış anlayabiliriz. Ayrıca **OutputTable** adında bir class olusturdum, output table olusturmak icin uzun uzun yazmanıza gerek yok kullanımına BFGS kodundan bakabilirsiniz.

**ÇOK ÖNEMLİ:** Beyler np.array kullanarak listten array olusturdugunuzda shape i yanlıs geliyor ve matrix gibi algılamayıp islemlerde mal oluyor. Bu yüzden array olusturdugunuzda (özellikle x0 ve grad_f icin) np.reshape kullanarak düzgün shape'i vermeyi unutmayın.

Yazıyı okuyanlar isminin üstünü cizebilirse herkes okuyunca bu yazıyı silebiliriz:
*   ~~Sefa~~
*   ~~Yunus~~
*   Harun
*   ~~Akın~~

### TODOs

Steepest Descent:
*   Algorithm code
*   ~~Function 1 - Solution set 1~~
*   ~~Function 1 - Solution set 2~~
*   ~~Function 2 - Solution set 1~~
*   ~~Function 2 - Solution set 2~~

Newton's Method:
*   ~~Algorithm code~~
*   ~~Function 1 - Solution set 1~~
*   ~~Function 1 - Solution set 2~~
*   ~~Function 2 - Solution set 1~~
*   ~~Function 2 - Solution set 2~~

DFP:
*   Algorithm code
*   Function 1 - Solution set 1
*   Function 1 - Solution set 2
*   Function 2 - Solution set 1
*   Function 2 - Solution set 2  

BFGS:
*   ~~Algorithm code~~
*   ~~Function 1 - Solution set 1~~
*   Function 1 - Solution set 2
*   Function 2 - Solution set 1
*   Function 2 - Solution set 2

In [3]:
import pandas as pd
import numpy as np
from sympy import Symbol, lambdify

In [4]:
x1 = Symbol("x1")
x2 = Symbol("x2")

func1 = (5*x1 - x2)**4 + (x1 - 2)**2 + x1 - 2*x2 + 12
func2 = 100*(x2 - x1**2)**2 + (1 - x1)**2 


f1 = lambdify([[x1,x2]], func1, "numpy")
f2 = lambdify([[x1,x2]], func2, "numpy")

gf1 = lambdify([[x1,x2]], func1.diff([[x1, x2]]), "numpy")
gf2 = lambdify([[x1,x2]], func2.diff([[x1, x2]]), "numpy")

grad_f1 = lambda x_arr : np.array(gf1(x_arr)).reshape(1,2)
grad_f2 = lambda x_arr : np.array(gf2(x_arr)).reshape(1,2)

hf1 = lambdify([[x1,x2]], (func1.diff([[x1, x2]])).diff([[x1, x2]]), "numpy")
hf2 = lambdify([[x1,x2]], (func2.diff([[x1, x2]])).diff([[x1, x2]]), "numpy")

hess_f1= lambda x_arr : np.array(hf1(np.array(x_arr).reshape(2,)))
hess_f2= lambda x_arr : np.array(hf2(np.array(x_arr).reshape(2,)))

In [5]:
from pylab import meshgrid,cm,imshow,contour,clabel,colorbar,axis,title,show
from mpl_toolkits.mplot3d import Axes3D
from matplotlib import cm
from matplotlib.ticker import LinearLocator, FormatStrFormatter
import matplotlib.pyplot as plt

# plot the function
x = np.arange(0,3,0.01)
y = np.arange(0,3,0.01)
X,Y = meshgrid(x, y) # grid of point
Z = f2([X,Y]) # evaluation of the function on the grid

fig = plt.figure()
ax = fig.gca(projection='3d')
surf = ax.plot_surface(X, Y, Z, rstride=1, cstride=1, 
                      cmap=cm.RdBu,linewidth=0, antialiased=False)

ax.zaxis.set_major_locator(LinearLocator(10))
ax.zaxis.set_major_formatter(FormatStrFormatter('%.02f'))

fig.colorbar(surf, shrink=0.5, aspect=5)

plt.savefig("graph.png")
plt.show()

### Useful Functions

In [7]:
np_str = lambda x_k : np.array2string(x_k.reshape(len(x_k)), precision=3, separator=',')

f_str = lambda x : "{0:.4f}".format(x)

In [8]:
class OutputTable:    
    def __init__(self):
        self.table = pd.DataFrame([],columns=['k', 'x^k', 'f(x^k)', 'd^k', 'a^k', 'x^k+1'])
    def add_row(self, k, xk, fxk, dk, ak, xkp):
        self.table.loc[len(self.table)] = [k, np_str(xk), f_str(np.asscalar(fxk)), np_str(dk), ak, np_str(xkp)]
    def print_latex(self):
        print(self.table.to_latex(index=False))

### Exact Line Search

In [11]:
def BisectionMethod(f, a=-100,b=100,epsilon=0.0000000001) :
    iteration=0
    while (b - a) >= epsilon:
        x_1 = (a + b) / 2
        fx_1 = f(x_1)
        if f(x_1 + epsilon) <= fx_1:
            a = x_1
        else:
            b = x_1
        iteration+=1
    x_star = (a+b)/2
    return x_star

def ExactLineSearch(f, x0, d, eps=0.0000000001):
    alpha = Symbol('alpha')
    function_alpha = f(np.array(x0)+alpha*np.array(d))
    f_alp = lambdify(alpha, function_alpha, 'numpy')
    alp_star = BisectionMethod(f_alp, epsilon=eps)
    return alp_star

## Steepest Descent Method

In [ ]:
def steepestDescentMethod(f, grad_f, x_0, epsilon):
    xk = np.array(x_0).reshape(2,1)
    k = 0
    stop = False
    output = OutputTable()
    while(stop == False):
        d = - np.transpose(grad_f(xk))
        if(np.linalg.norm(d) < epsilon):
            stop = True
        else:
            a = ExactLineSearch(f,xk,d)
            xkp = xk + a*d
            output.add_row(k, xk, f(xk), d, a, xkp)
            k += 1
            xk = xkp
    output.add_row(k,xk,f(xk),d,None,np.array([]))
    return xk, np.asscalar(f(xk)), output

In [ ]:
xs1, fs1, outputs1 = steepestDescentMethod(f1, grad_f1, [10,10], 0.001)
xs1, fs1

In [ ]:
print(outputs1.table.to_latex(index=False))

In [ ]:
xs2, fs2, outputs2 = steepestDescentMethod(f1, grad_f1, [-25,-15], 0.001)
xs2, fs2

In [ ]:
print(outputs2.table.to_latex(index=False))

In [ ]:
xs3, fs3, outputs3 = steepestDescentMethod(f2, grad_f2, [2,-4], 0.01)
xs3, fs3

In [ ]:
print(outputs3.table.to_latex(index=False))

In [ ]:
xs4, fs4, outputs4 = steepestDescentMethod(f2, grad_f2, [-2,-3.5], 0.002)
xs4, fs4

In [ ]:
outputs4.table

## Newton's Method

In [12]:
def NewtonsMethod(x_0,epsilon,f,grad_f,Hessian_f):
    xk = np.array(x_0).reshape(2,1)
    k=0
    output = OutputTable()
    while(True):
        d_k=-np.linalg.inv(Hessian_f(xk))@np.transpose(grad_f(xk))
        alpha_k=ExactLineSearch(f,xk,d_k)
        xkp=xk+alpha_k*d_k
        if(np.linalg.norm(grad_f(xk)) < epsilon):
            break
        output.add_row(k, xk, f(xk), d_k, alpha_k, xkp)
        xk = xkp
        k += 1
    output.add_row(k,xk,f(xk),d_k,None,np.array([]))    
    return xk, np.asscalar(f(xk)), output

def NewtonsMethod_vol2(x_0,epsilon,f,grad_f,Hessian_f):
    xk = x_0
    k=0
    H = np.identity(len(x_0))
    output = OutputTable()
    while(True):
        #print(xk)
        a=np.asarray(Hessian_f(xk))
        #print(a)
        #d_k=-np.linalg.inv(a)@np.transpose(np.asarray(grad_f(xk)).reshape(1,2))
        d_k=-np.linalg.inv(a)@np.transpose(np.asarray(gf2(xk)).reshape(1,2))
        alpha_k=ExactLineSearch(f,np.array(xk).reshape(2,1),d_k)
        xkp=[x + y for x, y in zip(x_0,(alpha_k*d_k).flatten().tolist() )]
        #print(xkp)
        print(np.linalg.norm(np.asarray(grad_f(xk)).reshape(1,2)))
        if(np.linalg.norm(np.asarray(grad_f(xk)).reshape(1,2)) < epsilon):
            break
        #output.add_row(k, np.array(xk), f(np.array(xk)), d_k, alpha_k, np.array(xkp))
        xk= xkp
        k += 1
        
    #output.add_row(k,np.array(xk),f(np.array(xk)),d_k,None,np.array([]))    
    return (xk)

In [13]:
x_f1_s1,f1_s1, outputf1_1 = NewtonsMethod([0,1], 0.001,f1,grad_f1,hess_f1)
outputf1_1.table

     k              x^k    f(x^k)              d^k        a^k            x^k+1
0    0            [0,1]   15.0000  [ 6.5  ,32.333]   1.000620  [ 6.504,33.353]
1    1  [ 6.504,33.353]  -27.4344  [-0.004,-0.058]   1.048271  [ 6.5  ,33.293]
2    2  [ 6.5  ,33.293]  -27.4406    [0.   ,0.001] -10.547173  [ 6.498,33.283]
3    3  [ 6.498,33.283]  -27.4405    [0.002,0.011]   2.118884  [ 6.503,33.306]
4    4  [ 6.503,33.306]  -27.4405  [-0.003,-0.012]   2.107937  [ 6.497,33.28 ]
5    5  [ 6.497,33.28 ]  -27.4405    [0.003,0.014]   2.598188  [ 6.504,33.315]
6    6  [ 6.504,33.315]  -27.4405  [-0.004,-0.022]   0.390601  [ 6.503,33.307]
7    7  [ 6.503,33.307]  -27.4405  [-0.003,-0.013]   3.190661  [ 6.494,33.265]
8    8  [ 6.494,33.265]  -27.4405    [0.006,0.029]   1.626592  [ 6.504,33.312]
9    9  [ 6.504,33.312]  -27.4405  [-0.004,-0.018]   1.457198  [ 6.498,33.285]
10  10  [ 6.498,33.285]  -27.4405    [0.002,0.008]  10.159400  [ 6.516,33.369]
11  11  [ 6.516,33.369]  -27.4403  [-0.016,-0.076]   1.196289  [ 6.497,33.279]
12  12  [ 6.497,33.279]  -27.4405    [0.003,0.015]   1.275318  [ 6.501,33.298]
13  13  [ 6.501,33.298]  -27.4406  [-0.001,-0.004]  19.678538  [ 6.484,33.217]
14  14  [ 6.484,33.217]  -27.4403    [0.016,0.076]   0.970459  [ 6.5  ,33.291]
15  15  [ 6.5  ,33.291]  -27.4406    [0.   ,0.002]  77.459069  [ 6.536,33.466]
16  16  [ 6.536,33.466]  -27.4392  [-0.036,-0.172]   1.008987  [ 6.5  ,33.292]
17  17  [ 6.5  ,33.292]  -27.4406    [0.   ,0.002]  44.823948  [ 6.514,33.36 ]
18  18  [ 6.514,33.36 ]  -27.4403  [-0.014,-0.066]   1.014407  [ 6.5  ,33.293]
19  19  [ 6.5  ,33.293]  -27.4406    [0.   ,0.001] -24.909975  [ 6.495,33.269]
20  20  [ 6.495,33.269]  -27.4405    [0.005,0.024]   1.586914  [ 6.503,33.308]
21  21  [ 6.503,33.308]  -27.4405  [-0.003,-0.014]   2.103736  [ 6.497,33.278]
22  22  [ 6.497,33.278]  -27.4405    [0.003,0.016]   1.624406  [ 6.502,33.304]
23  23  [ 6.502,33.304]  -27.4405  [-0.002,-0.01 ]   3.624543  [ 6.494,33.268]
24  24  [ 6.494,33.268]  -27.4405    [0.006,0.026]   0.973474  [ 6.5  ,33.293]
25  25  [ 6.5  ,33.293]  -27.4406    [0.   ,0.001] -80.087183  [ 6.488,33.239]
26  26  [ 6.488,33.239]  -27.4403    [0.012,0.055]   0.974348  [ 6.5  ,33.292]
27  27  [ 6.5  ,33.292]  -27.4406    [0.   ,0.001]  35.936538  [ 6.511,33.342]
28  28  [ 6.511,33.342]  -27.4403  [-0.011,-0.048]   1.013706  [ 6.5  ,33.293]
29  29  [ 6.5  ,33.293]  -27.4406    [0.   ,0.001]  53.624399  [ 6.508,33.327]
30  30  [ 6.508,33.327]  -27.4404  [-0.008,-0.033]   1.078259  [ 6.499,33.291]
31  31  [ 6.499,33.291]  -27.4405    [0.001,0.003]   5.138634  [ 6.502,33.304]
32  32  [ 6.502,33.304]  -27.4405  [-0.002,-0.011]   1.676232  [ 6.498,33.287]
33  33  [ 6.498,33.287]  -27.4405    [0.002,0.007]   1.756761  [ 6.501,33.299]
34  34  [ 6.501,33.299]  -27.4405  [-0.001,-0.005]   4.701839  [ 6.495,33.274]
35  35  [ 6.495,33.274]  -27.4405    [0.005,0.02 ]   0.914760  [ 6.5  ,33.292]
36  36  [ 6.5  ,33.292]  -27.4406    [0.   ,0.002]  20.310895  [ 6.508,33.326]
37  37  [ 6.508,33.326]  -27.4403  [-0.008,-0.033]   0.970422  [ 6.5  ,33.295]
38  38  [ 6.5  ,33.295]  -27.4406  [-0.   ,-0.001]  63.990628  [ 6.485,33.23 ]
39  39  [ 6.485,33.23 ]  -27.4401    [0.015,0.064]   1.017001  [ 6.5  ,33.295]
40  40  [ 6.5  ,33.295]  -27.4406  [-0.   ,-0.001]  93.394060  [ 6.477,33.185]
41  41  [ 6.477,33.185]  -27.4399    [0.023,0.109]   1.032173  [ 6.501,33.297]
42  42  [ 6.501,33.297]  -27.4406  [-0.001,-0.004] -12.519098  [ 6.51 ,33.342]
43  43  [ 6.51 ,33.342]  -27.4404  [-0.01 ,-0.048]   0.949097  [ 6.501,33.296]
44  44  [ 6.501,33.296]  -27.4406  [-0.001,-0.002]  37.462615  [ 6.482,33.205]
45  45  [ 6.482,33.205]  -27.4402    [0.018,0.089]   1.029852  [ 6.501,33.296]
46  46  [ 6.501,33.296]  -27.4406  [-0.001,-0.003]  32.451560  [ 6.483,33.21 ]
47  47  [ 6.483,33.21 ]  -27.4402    [0.017,0.084]   0.969642  [ 6.499,33.291]
48  48  [ 6.499,33.291]  -27.4406    [0.001,0.003]  24.890505  [ 6.513,33.354]
49  49  [ 6.513,33.354]  -27.4404  [-0.013,-0.061]   1.056147  [ 6.499,33.29 ]
50  50  [ 6.499,33.29 ]  -27.4406    [0.001,0.003]  12.438863  [ 6.508,33.333]
51  51  [ 6.508,33.333]  -27.4405  [-0.008,-0.039]   1.278935  [ 6.498,33.283]
52  52  [ 6.498,33.283]  -27.4405    [0.002,0.011]  -0.809586  [ 6.496,33.274]
53  53  [ 6.496,33.274]  -27.4405    [0.004,0.02 ]   2.349959  [ 6.505,33.32 ]
54  54  [ 6.505,33.32 ]  -27.4405  [-0.005,-0.026]   1.959425  [ 6.495,33.268]
55  55  [ 6.495,33.268]  -27.4405    [0.005,0.025]   1.588059  [ 6.503,33.309]
56  56  [ 6.503,33.309]  -27.4405  [-0.003,-0.015]   2.478792  [ 6.495,33.272]
57  57  [ 6.495,33.272]  -27.4405    [0.005,0.022]   1.025366  [ 6.5  ,33.294]
58  58  [ 6.5  ,33.294]  -27.4406  [-0.   ,-0.001]        NaN               []

In [24]:
x_f1_s2,f1_s2, outputf1_2 = NewtonsMethod([-25,75], 0.0001,f1,grad_f1,hess_f1)
outputf1_2.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[-25, 75]",1600000566.0000,"[31.5 ,90.833]",2.962919,"[ 68.332,344.132]"
1,1,"[ 68.332,344.132]",3829.3422,"[ -61.832,-309.956]",1.001747,"[ 6.392,33.634]"
2,2,"[ 6.392,33.634]",-21.7344,"[0.108,0.042]",1.756464,"[ 6.582,33.707]"
3,3,"[ 6.582,33.707]",-27.4338,"[-0.082,-0.413]",1.002057,"[ 6.5 ,33.293]"
4,4,"[ 6.5 ,33.293]",-27.4406,"[0. ,0.001]",49.983209,"[ 6.508,33.334]"
...,...,...,...,...,...,...
277,277,"[ 6.5 ,33.293]",-27.4406,"[0. ,0.001]",99.218652,"[ 6.514,33.364]"
278,278,"[ 6.514,33.364]",-27.4404,"[-0.014,-0.07 ]",1.020570,"[ 6.5 ,33.292]"
279,279,"[ 6.5 ,33.292]",-27.4406,"[0. ,0.001]",-63.115389,"[ 6.481,33.201]"
280,280,"[ 6.481,33.201]",-27.4402,"[0.019,0.093]",1.002097,"[ 6.5 ,33.294]"
281,281,"[ 6.5 ,33.294]",-27.4406,"[-3.884e-05,-1.950e-04]",NaN,[]

In [26]:
x_f2_s1,f2_s1, outputf2_1=NewtonsMethod([10,22], 0.0001,f2,grad_f2,hess_f2)
outputf2_1.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[10,22]",608481.0000,"[-5.769e-04, 7.799e+01]",1.000000,"[ 9.999,99.988]"
1,1,"[ 9.999,99.988]",80.9896,"[ -9.001,-180.002]",0.038997,"[ 9.648,92.969]"
2,2,"[ 9.648,92.969]",76.3131,"[-0.337,-6.386]",1.313111,"[ 9.206,84.584]"
3,3,"[ 9.206,84.584]",69.8143,"[-0.252,-4.488]",2.337646,"[ 8.616,74.093]"
4,4,"[ 8.616,74.093]",59.8769,"[-0.268,-4.482]",1.913713,"[ 8.103,65.515]"
5,5,"[ 8.103,65.515]",52.3520,"[-0.248,-3.887]",2.157086,"[ 7.567,57.131]"
6,6,"[ 7.567,57.131]",44.7463,"[-0.248,-3.627]",2.031330,"[ 7.063,49.763]"
7,7,"[ 7.063,49.763]",38.2633,"[-0.238,-3.233]",2.106886,"[ 6.563,42.952]"
8,8,"[ 6.563,42.952]",32.2582,"[-0.232,-2.934]",2.071382,"[ 6.081,36.875]"
9,9,"[ 6.081,36.875]",26.9983,"[-0.224,-2.614]",2.099012,"[ 5.612,31.389]"
10,10,"[ 5.612,31.389]",22.2959,"[-0.217,-2.33 ]",2.093073,"[ 5.158,26.512]"
11,11,"[ 5.158,26.512]",18.1881,"[-0.208,-2.055]",2.106010,"[ 4.719,22.183]"
12,12,"[ 4.719,22.183]",14.6048,"[-0.2 ,-1.802]",2.111374,"[ 4.296,18.378]"
13,13,"[ 4.296,18.378]",11.5240,"[-0.191,-1.564]",2.122791,"[ 3.89 ,15.058]"
14,14,"[ 3.89 ,15.058]",8.9023,"[-0.182,-1.346]",2.131368,"[ 3.501,12.19 ]"
15,15,"[ 3.501,12.19 ]",6.7088,"[-0.173,-1.143]",2.146554,"[3.13 ,9.737]"
16,16,"[3.13 ,9.737]",4.9023,"[-0.163,-0.958]",2.161755,"[2.778,7.665]"
17,17,"[2.778,7.665]",3.4487,"[-0.152,-0.79 ]",2.182484,"[2.447,5.94 ]"
18,18,"[2.447,5.94 ]",2.3101,"[-0.14 ,-0.639]",2.209335,"[2.137,4.527]"
19,19,"[2.137,4.527]",1.4495,"[-0.127,-0.505]",2.243805,"[1.851,3.393]"
20,20,"[1.851,3.393]",0.8301,"[-0.113,-0.387]",2.293494,"[1.591,2.506]"
21,21,"[1.591,2.506]",0.4140,"[-0.097,-0.284]",2.370818,"[1.361,1.834]"
22,22,"[1.361,1.834]",0.1632,"[-0.078,-0.194]",2.498151,"[1.166,1.349]"
23,23,"[1.166,1.349]",0.0390,"[-0.053,-0.113]",2.717026,"[1.022,1.042]"
24,24,"[1.022,1.042]",0.0011,"[-0.015,-0.027]",1.243973,"[1.004,1.008]"
25,25,"[1.004,1.008]",0.0000,"[-0.004,-0.008]",0.945792,"[1.,1.]"
26,26,"[1.,1.]",0.0000,"[6.935e-06,1.298e-05]",0.999825,"[1.,1.]"
27,27,"[1.,1.]",0.0000,"[-1.971e-11,-1.476e-10]",NaN,[]

In [23]:
x_f2_s2,f2_s2, outputf2_2=NewtonsMethod([-25,35], 0.001,f2,grad_f2,hess_f2)
outputf2_2.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[-25, 35]",34810676.0000,"[2.203e-04,5.900e+02]",1.000000,"[-25. ,624.989]"
1,1,"[-25. ,624.989]",675.9885,"[ 26. ,-1300.003]",0.019357,"[-24.496,599.824]"
2,2,"[-24.496,599.824]",656.4871,"[ 0.494,-23.926]",1.283239,"[-23.863,569.121]"
3,3,"[-23.863,569.121]",629.0237,"[ 0.372,-17.416]",2.280809,"[-23.015,529.398]"
4,4,"[-23.015,529.398]",585.5685,"[ 0.397,-17.982]",1.907868,"[-22.257,495.091]"
5,5,"[-22.257,495.091]",550.1546,"[ 0.376,-16.446]",2.101430,"[-21.467,460.531]"
6,6,"[-21.467,460.531]",513.1846,"[ 0.38,-16.04]",1.995883,"[-20.708,428.517]"
7,7,"[-20.708,428.517]",479.4674,"[ 0.371,-15.097]",2.051616,"[-19.945,397.544]"
8,8,"[-19.945,397.544]",446.4869,"[ 0.369,-14.441]",2.025496,"[-19.198,368.293]"
9,9,"[-19.198,368.293]",415.3993,"[ 0.364,-13.69 ]",2.037811,"[-18.457,340.396]"
10,10,"[-18.457,340.396]",385.6575,"[ 0.359,-12.98 ]",2.041674,"[-17.724,313.895]"
11,11,"[-17.724,313.895]",357.3390,"[ 0.354,-12.286]",2.044316,"[-17.001,288.778]"
12,12,"[-17.001,288.778]",330.4044,"[ 0.35 ,-11.635]",2.038608,"[-16.288,265.058]"
13,13,"[-16.288,265.058]",304.9224,"[ 0.345,-10.982]",2.041251,"[-15.585,242.642]"
14,14,"[-15.585,242.642]",280.7617,"[ 0.34 ,-10.354]",2.040883,"[-14.891,221.51 ]"
15,15,"[-14.891,221.51 ]",257.9236,"[ 0.335,-9.737]",2.043915,"[-14.207,201.609]"
16,16,"[-14.207,201.609]",236.3335,"[ 0.33 ,-9.147]",2.043214,"[-13.533,182.92 ]"
17,17,"[-13.533,182.92 ]",215.9991,"[ 0.324,-8.563]",2.047944,"[-12.868,165.384]"
18,18,"[-12.868,165.384]",196.8298,"[ 0.319,-8.01 ]",2.045564,"[-12.215,148.999]"
19,19,"[-12.215,148.999]",178.8507,"[ 0.314,-7.469]",2.046964,"[-11.572,133.71 ]"
20,20,"[-11.572,133.71 ]",161.9932,"[ 0.309,-6.95 ]",2.047157,"[-10.94 ,119.482]"
21,21,"[-10.94 ,119.482]",146.2387,"[ 0.303,-6.439]",2.054122,"[-10.317,106.256]"
22,22,"[-10.317,106.256]",131.5052,"[ 0.297,-5.953]",2.055444,"[-9.706,94.019]"
23,23,"[-9.706,94.019]",117.7917,"[ 0.292,-5.487]",2.055979,"[-9.106,82.739]"
24,24,"[-9.106,82.739]",105.0681,"[ 0.286,-5.037]",2.058817,"[-8.517,72.369]"
25,25,"[-8.517,72.369]",93.2884,"[ 0.28 ,-4.604]",2.062334,"[-7.939,62.874]"
26,26,"[-7.939,62.874]",82.4106,"[ 0.274,-4.193]",2.061686,"[-7.374,54.229]"
27,27,"[-7.374,54.229]",72.4205,"[ 0.268,-3.798]",2.065726,"[-6.821,46.384]"
28,28,"[-6.821,46.384]",63.2620,"[ 0.261,-3.421]",2.068454,"[-6.281,39.307]"
29,29,"[-6.281,39.307]",54.9058,"[ 0.255,-3.063]",2.071952,"[-5.752,32.96 ]"
30,30,"[-5.752,32.96 ]",47.3134,"[ 0.248,-2.724]",2.074979,"[-5.238,27.308]"
31,31,"[-5.238,27.308]",40.4515,"[ 0.241,-2.403]",2.079373,"[-4.736,22.311]"
32,32,"[-4.736,22.311]",34.2812,"[ 0.234,-2.1 ]",2.084004,"[-4.248,17.935]"
33,33,"[-4.248,17.935]",28.7669,"[ 0.227,-1.816]",2.089215,"[-3.774,14.141]"
34,34,"[-3.774,14.141]",23.8725,"[ 0.219,-1.551]",2.095208,"[-3.315,10.892]"
35,35,"[-3.315,10.892]",19.5616,"[ 0.211,-1.304]",2.101690,"[-2.871, 8.151]"
36,36,"[-2.871, 8.151]",15.7982,"[ 0.203,-1.076]",2.109036,"[-2.442, 5.882]"
37,37,"[-2.442, 5.882]",12.5463,"[ 0.195,-0.867]",2.117728,"[-2.03 , 4.045]"
38,38,"[-2.03 , 4.045]",9.7692,"[ 0.186,-0.677]",2.128534,"[-1.635, 2.604]"
39,39,"[-1.635, 2.604]",7.4298,"[ 0.176,-0.507]",2.140591,"[-1.258, 1.519]"
40,40,"[-1.258, 1.519]",5.4923,"[ 0.166,-0.356]",2.156010,"[-0.899, 0.752]"
41,41,"[-0.899, 0.752]",3.9194,"[ 0.156,-0.224]",2.174651,"[-0.56 , 0.265]"
42,42,"[-0.56 , 0.265]",2.6748,"[ 0.144,-0.113]",2.198589,"[-0.243, 0.017]"
43,43,"[-0.243, 0.017]",1.7213,"[ 0.132,-0.022]",2.230302,"[ 0.052,-0.032]"
44,44,"[ 0.052,-0.032]",1.0218,"[0.118,0.047]",2.274258,"[0.321,0.075]"
45,45,"[0.321,0.075]",0.5389,"[0.103,0.094]",2.339289,"[0.562,0.295]"
46,46,"[0.562,0.295]",0.2346,"[0.085,0.116]",2.444696,"[0.77,0.58]"
47,47,"[0.77,0.58]",0.0705,"[0.063,0.11 ]",2.633759,"[0.935,0.869]"
48,48,"[0.935,0.869]",0.0072,"[0.031,0.063]",1.807759,"[0.991,0.984]"
49,49,"[0.991,0.984]",0.0003,"[0.012,0.023]",0.843024,"[1.001,1.003]"
50,50,"[1.001,1.003]",0.0000,"[-0.001,-0.003]",0.980413,"[1.,1.]"
51,51,"[1.,1.]",0.0000,"[1.578e-06,2.953e-06]",NaN,[]

## DFP

In [28]:
def DFP(f, grad_f, x_0, epsilon):
    xk = np.array(x_0).reshape(2,1)
    k = 0
    H = np.identity(len(x_0))
    stop = False
    output = OutputTable()
    while(stop == False):
        d = -H @ np.transpose(grad_f(xk))
        if(np.linalg.norm(d) < epsilon):
            stop = True
        else:
            a = ExactLineSearch(f,xk,d)
            xkp = xk + a*d
            p = xkp - xk
            q = np.transpose(grad_f(xkp)) - np.transpose(grad_f(xk))
            A = (p @ np.transpose(p)) / (p.transpose() @ q)
            B = - (H @ q @ np.transpose( H @ q)) / (q.transpose() @ H @ q)
            Hkp = H + A + B
            output.add_row(k, xk, f(xk), d, a, xkp)
            k += 1
            xk = xkp
            H = Hkp
    output.add_row(k,xk,f(xk),d,None,np.array([]))
    return xk, np.asscalar(f(xk)), output

In [29]:
xs1, fs1, output1 = DFP(f1, grad_f1, [0,0], 0.001)
xs1, fs1

(array([[ 6.50004193],
        [33.29392539]]), -27.44055078634222)

In [30]:
output1.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[0,0]",16,"[3.,2.]",0.0442505,"[0.133,0.089]"
1,1,"[0.133,0.089]",15.5519,"[0.491,2.493]",13.1149,"[ 6.575,32.79 ]"
2,2,"[ 6.575,32.79 ]",-26.0735,"[-0.057, 0.706]",0.883484,"[ 6.524,33.414]"
3,3,"[ 6.524,33.414]",-27.44,"[-0.024,-0.117]",0.898743,"[ 6.502,33.309]"
4,4,"[ 6.502,33.309]",-27.4405,"[-0.006,-0.038]",0.395203,"[ 6.5 ,33.294]"
5,5,"[ 6.5 ,33.294]",-27.4406,"[-4.193e-05,-2.248e-04]",None,[]

Akin kardesime selam olsun. 4. Katta bulusmak uzere...
                                Sevgiler
                                 Harun

## BFGS

In [193]:
def BFGS(f, grad_f, x_0, epsilon):
    xk = np.array(x_0).reshape(2,1)
    k = 0
    H = np.identity(len(x_0))
    stop = False
    output = OutputTable()
    while(stop == False):
        d = -H @ np.transpose(grad_f(xk))
        if(np.linalg.norm(d) < epsilon):
            stop = True
        if(k == -1):
            break
        else:
            a = ExactLineSearch(f,xk,d, eps=0.00001)
            xkp = xk + a*d
            p = xkp - xk
            q = np.transpose(grad_f(xkp)) - np.transpose(grad_f(xk))
            A = ((1+ np.transpose(q) @ H @ q) / (np.transpose(q) @ p)) * (p @ np.transpose(p)) / (np.transpose(p) @ q)
            B = - (p @ np.transpose(q) @ H + H @ q @ np.transpose(p)) / (np.transpose(q) @ p)
            Hkp = H + A + B
            output.add_row(k, xk, f(xk), d, a, xkp)
            k += 1
            xk = xkp
            H = Hkp
    output.add_row(k,xk,f(xk),d,None,np.array([]))
    return xk, np.asscalar(f(xk)), output

In [194]:
xs1, fs1, output1 = BFGS(f1, grad_f1, [0,0], 0.001)
xs1, fs1

(array([[ 6.49612176],
        [33.27399017]]), -27.44053536334784)

In [23]:
output1.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[0,0]",16,"[3.,2.]",0.0442505,"[0.133,0.089]"
1,1,"[0.133,0.089]",15.5519,"[0.963,4.868]",6.66656,"[ 6.553,32.54 ]"
2,2,"[ 6.553,32.54 ]",-25.7982,"[-0.173, 2.234]",0.325012,"[ 6.496,33.266]"
3,3,"[ 6.496,33.266]",-27.4402,"[-0.001, 0.014]",0.520325,"[ 6.496,33.273]"
4,4,"[ 6.496,33.273]",-27.4405,"[-0.005, 0.067]",-0.00152588,"[ 6.496,33.273]"
5,5,"[ 6.496,33.273]",-27.4405,"[ -71.486,1029.42 ]",-0.00152588,"[ 6.605,31.702]"
6,6,"[ 6.605,31.702]",-20.5324,"[-0.005, 0.066]",23.8388,"[ 6.497,33.279]"
7,7,"[ 6.497,33.279]",-27.4405,"[3.545e-05,1.858e-04]",71.0648,"[ 6.5 ,33.292]"
8,8,"[ 6.5 ,33.292]",-27.4405,"[3.545e-05,1.858e-04]",None,[]

In [24]:
xs2, fs2, output2 = BFGS(f1, grad_f1, [10,10], 0.001)
xs2, fs2

(array([[ -615682.95451531],
        [-3077907.80209916]]), 445132303112.5189)

In [25]:
output2.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[10,10]",2560066,"[-1280017., 256002.]",-0.00152588,"[1963.151,-380.628]"
1,1,"[1963.151,-380.628]",1.0809e+16,"[-0.27 ,-1.346]",99.9985,"[1936.113,-515.196]"
2,2,"[1936.113,-515.196]",1.08063e+16,"[11204.828,56024.005]",-99.9985,"[-1118529.603,-5602830.199]"
3,3,"[-1118529.603,-5602830.199]",1.07502e+16,"[152481.149,762452.782]",99.9985,"[14129352.638,70641284.582]"
4,4,"[14129352.638,70641284.582]",1.10055e+15,"[ -4975.245,-24876.173]",99.9985,"[13631835.74 ,68153705.264]"
5,5,"[13631835.74 ,68153705.264]",1.08334e+15,"[15.742,78.718]",99.9985,"[13633409.883,68161576.963]"
6,6,"[13633409.883,68161576.963]",1.08274e+15,"[-0.203,-1.016]",99.9985,"[13633389.563,68161475.364]"
7,7,"[13633389.563,68161475.364]",1.08273e+15,"[ -20618.895,-103093.78 ]",99.9985,"[11571531.546,57852254.692]"
8,8,"[11571531.546,57852254.692]",9.86121e+14,"[0.029,0.147]",99.9985,"[11571534.465,57852269.344]"
9,9,"[11571534.465,57852269.344]",9.86086e+14,"[0.077,0.389]",99.9985,"[11571542.211,57852308.238]"
10,10,"[11571542.211,57852308.238]",9.85983e+14,"[0.001,0.006]",99.9985,"[11571542.337,57852308.883]"
11,11,"[11571542.337,57852308.883]",9.85971e+14,"[0.084,0.432]",99.9985,"[11571550.692,57852352.06 ]"
12,12,"[11571550.692,57852352.06 ]",9.85089e+14,"[-0.008,-0.039]",99.9985,"[11571549.915,57852348.175]"
13,13,"[11571549.915,57852348.175]",9.85089e+14,"[ -221460.293,-1107226.57 ]",56.8314,"[-1014339.666,-5072843.459]"
14,14,"[-1014339.666,-5072843.459]",2.74846e+12,"[0.001,0.004]",99.9985,"[-1014339.59 ,-5072843.049]"
15,15,"[-1014339.59 ,-5072843.049]",2.74828e+12,"[0.073,0.394]",99.9985,"[-1014332.262,-5072803.601]"
16,16,"[-1014332.262,-5072803.601]",2.73146e+12,"[0.001,0.004]",99.9985,"[-1014332.191,-5072803.247]"
17,17,"[-1014332.191,-5072803.247]",2.73146e+12,"[ 63214.063,316344.475]",5.70526,"[ -653679.446,-3267975.376]"
18,18,"[ -653679.446,-3267975.376]",4.58975e+11,"[0. ,0.002]",99.9985,"[ -653679.398,-3267975.138]"
19,19,"[ -653679.398,-3267975.138]",4.58975e+11,"[1660084.657,8304180.753]",0.0228882,"[ -615683.076,-3077907.524]"
20,20,"[ -615683.076,-3077907.524]",4.45595e+11,"[-0.001, 0.004]",-99.9985,"[ -615682.974,-3077907.893]"
21,21,"[ -615682.974,-3077907.893]",4.45136e+11,"[0. ,0.001]",99.9985,"[ -615682.955,-3077907.802]"
22,22,"[ -615682.955,-3077907.802]",4.45132e+11,"[0. ,0.001]",None,[]

In [238]:
xs3, fs3, output3 = BFGS(f2, grad_f2, [0,0], 0.001)
xs3, fs3

(array([[ 10.3087146 ],
        [106.28439447]]), 86.67406483533888)

In [239]:
output3.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[0,0]",1,"[2.,0.]",0.0778198,"[0.156,0. ]"
1,1,"[0.156,0. ]",0.771623,"[14.237, 5.326]",0.00762939,"[0.264,0.041]"
2,2,"[0.264,0.041]",0.626576,"[0.466,0.438]",0.779724,"[0.627,0.382]"
3,3,"[0.627,0.382]",0.151823,"[-0.36 , 0.052]",3.83759,"[-0.754, 0.582]"
4,4,"[-0.754, 0.582]",3.09615,"[-0.967,-0.186]",0.00152588,"[-0.755, 0.582]"
5,5,"[-0.755, 0.582]",3.09466,"[-0.777,-0.211]",-2.3056,"[1.036,1.069]"
6,6,"[1.036,1.069]",0.00262663,"[-4.95 ,-1.609]",-0.00152588,"[1.043,1.071]"
7,7,"[1.043,1.071]",0.0305442,"[-0.275,-0.09 ]",6.32477,"[-0.699, 0.499]"
8,8,"[-0.699, 0.499]",2.89796,"[-0.065,-0.087]",0.0198364,"[-0.701, 0.497]"
9,9,"[-0.701, 0.497]",2.89633,"[-0.068,-0.127]",0.00457764,"[-0.701, 0.497]"
10,10,"[-0.701, 0.497]",2.89611,"[-0.775,-1.563]",-4.41742,"[2.72 ,7.403]"
11,11,"[2.72 ,7.403]",2.96033,"[-0.815,-1.905]",-0.00152588,"[2.722,7.406]"
12,12,"[2.722,7.406]",2.96493,"[-0.911,-2.315]",3.18146,"[-0.177, 0.042]"
13,13,"[-0.177, 0.042]",1.39579,"[ -7.922,-21.88 ]",-0.395203,"[2.954,8.689]"
14,14,"[2.954,8.689]",3.96266,"[-0.171,-0.768]",8.19244,"[1.551,2.401]"
15,15,"[1.551,2.401]",0.304077,"[0.002,0.015]",0.218201,"[1.551,2.404]"
16,16,"[1.551,2.404]",0.303682,"[0.003,0.033]",0.0228882,"[1.551,2.405]"
17,17,"[1.551,2.405]",0.303643,"[0.024,1.128]",-0.00152588,"[1.551,2.403]"
18,18,"[1.551,2.403]",0.304073,"[-0.626, 2.204]",-0.00152588,"[1.552,2.4 ]"
19,19,"[1.552,2.4 ]",0.312002,"[-1.217,-2.603]",0.0106812,"[1.539,2.372]"
20,20,"[1.539,2.372]",0.291862,"[-1.637,-5.023]",0.0839233,"[1.402,1.951]"
21,21,"[1.402,1.951]",0.18032,"[-1.684,-4.709]",0.0473022,"[1.322,1.728]"
22,22,"[1.322,1.728]",0.141956,"[-0.522,-1.163]",0.68512,"[0.964,0.931]"
23,23,"[0.964,0.931]",0.00150516,"[-0.328,-0.906]",0.00152588,"[0.964,0.93 ]"
24,24,"[0.964,0.93 ]",0.00143648,"[-20.823,-57.449]",-0.0411987,"[1.821,3.296]"
25,25,"[1.821,3.296]",0.72023,"[-0.206,-0.584]",3.77655,"[1.044,1.09 ]"
26,26,"[1.044,1.09 ]",0.00197256,"[0.001,0.006]",0.0686646,"[1.044,1.09 ]"
27,27,"[1.044,1.09 ]",0.00196589,"[0.319,1.675]",-0.00152588,"[1.044,1.088]"
28,28,"[1.044,1.088]",0.00220732,"[1.032,5.426]",-0.00152588,"[1.042,1.08 ]"
29,29,"[1.042,1.08 ]",0.00625853,"[0.41 ,2.165]",7.77435,"[ 4.23 ,17.911]"
...,...,...,...,...,...,...
390,390,"[ 7.891,62.267]",47.4835,"[-0.022,-0.34 ]",14.7324,"[ 7.574,57.259]"
391,391,"[ 7.574,57.259]",44.2321,"[-0.034,-0.517]",6.32477,"[ 7.358,53.989]"
392,392,"[ 7.358,53.989]",42.595,"[-0.046,-0.638]",19.2581,"[ 6.463,41.7 ]"
393,393,"[ 6.463,41.7 ]",30.3002,"[0.06 ,0.979]",56.7032,"[ 9.857,97.188]"
394,394,"[ 9.857,97.188]",78.5195,"[0.012,0.181]",0.151062,"[ 9.859,97.215]"
395,395,"[ 9.859,97.215]",78.5098,"[-0. ,-0.013]",2.75116,"[ 9.858,97.179]"
396,396,"[ 9.858,97.179]",78.467,"[-0.257,-5.063]",1.34125,"[ 9.514,90.387]"
397,397,"[ 9.514,90.387]",73.9844,"[ -1.948,-36.977]",0.1297,"[ 9.261,85.592]"
398,398,"[ 9.261,85.592]",71.2783,"[-0.038,-0.664]",27.9312,"[ 8.193,67.049]"
399,399,"[ 8.193,67.049]",52.2802,"[0.044,0.887]",86.1069,"[ 11.975,143.428]"
400,400,"[ 11.975,143.428]",120.536,"[0.008,0.137]",0.239563,"[ 11.977,143.461]"
401,401,"[ 11.977,143.461]",120.525,"[-0.001,-0.028]",26.8814,"[ 11.947,142.695]"
402,402,"[ 11.947,142.695]",120.072,"[ -1.883,-45.013]",0.172424,"[ 11.623,134.933]"
403,403,"[ 11.623,134.933]",115.305,"[-0.186,-4.259]",2.20184,"[ 11.214,125.557]"
404,404,"[ 11.214,125.557]",108.291,"[-0.023,-0.436]",3.38287,"[ 11.138,124.082]"
405,405,"[ 11.138,124.082]",102.889,"[-0.031,-0.687]",10.9024,"[ 10.804,116.597]"
406,406,"[ 10.804,116.597]",97.6048,"[-0.017,-0.362]",11.8027,"[ 10.607,112.328]"
407,407,"[ 10.607,112.328]",95.7361,"[-0.029,-0.591]",24.9405,"[ 9.886,97.59 ]"
408,408,"[ 9.886,97.59 ]",80.8045,"[0.035,0.878]",0.621033,"[ 9.907,98.135]"
409,409,"[ 9.907,98.135]",79.3658,"[-0.006,-0.116]",64.1861,"[ 9.528,90.664]"
410,410,"[ 9.528,90.664]",74.3522,"[-0.055,-1.046]",5.56488,"[ 9.221,84.844]"
411,411,"[ 9.221,84.844]",70.6791,"[-0.034,-0.568]",46.6568,"[ 7.64 ,58.331]"
412,412,"[ 7.64 ,58.331]",44.2905,"[0.032,0.638]",0.202942,"[ 7.647,58.46 ]"
413,413,"[ 7.647,58.46 ]",44.2066,"[-0.001,-0.006]",15.9653,"[ 7.638,58.361]"
414,414,"[ 7.638,58.361]",44.0974,"[-0.099,-1.51 ]",3.32794,"[ 7.31 ,53.335]"
415,415,"[ 7.31 ,53.335]",40.6969,"[ -0.726,-10.666]",0.248718,"[ 7.129,50.683]"
416,416,"[ 7.129,50.683]",39.5237,"[-0.047,-0.637]",14.537,"[ 6.443,41.423]"
417,417,"[ 6.443,41.423]",30.4154,"[0.062,1.045]",62.0407,"[ 10.307,106.262]"
418,418,"[ 10.307,106.262]",86.6847,"[0.02 ,0.281]",0.0808716,"[ 10.309,106.284]"
419,419,"[ 10.309,106.284]",86.6741,"[ 0. ,-0.001]",None,[]

In [240]:
xs4, fs4, output4 = BFGS(f2, grad_f2, [5,5], 0.001)
xs4, fs4

(array([[66.26186956],
        [27.35226086]]), 1903828197.1174762)

In [241]:
output4.table

,k,x^k,f(x^k),d^k,a^k,x^k+1
0,0,"[5,5]",40016,"[-40008., 4000.]",-0.00152588,"[66.047,-1.104]"
1,1,"[66.047,-1.104]",1.90389e+09,"[ 28.116,3729.756]",0.00762939,"[66.262,27.352]"
2,2,"[66.262,27.352]",1.90383e+09,"[8.292e-07,1.108e-04]",None,[]

In [345]:
from scipy.optimize import minimize

In [354]:
minimize(fun=f1, x0=[0,0], method='BFGS', tol=0.005)

      fun: -27.440550788387824
 hess_inv: array([[ 0.47354836,  2.36296605],
       [ 2.36296605, 11.92423175]])
      jac: array([-3.86714935e-04,  7.15255737e-05])
  message: 'Optimization terminated successfully.'
     nfev: 64
      nit: 11
     njev: 16
   status: 0
  success: True
        x: array([ 6.49998414, 33.29363065])